USE [master]
GO
/****** Object:  Database [B_Shop]    Script Date: 4/26/2022 1:09:02 AM ******/
CREATE DATABASE [B_Shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'B_Shop', FILENAME = N'E:\ASP.NET\DATA\B_Shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'B_Shop_log', FILENAME = N'E:\ASP.NET\DATA\B_Shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [B_Shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [B_Shop]
GO
/****** Object:  Table [dbo].[Brand_2119110295]    Script Date: 4/26/2022 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand_2119110295](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Avatar] [nvarchar](100) NULL,
	[Slug] [varchar](100) NULL,
	[ShowOnHomePage] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Brand_2119110295] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_2119110295]    Script Date: 4/26/2022 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_2119110295](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Avatar] [nchar](100) NULL,
	[Slug] [varchar](100) NULL,
	[ShowOnHomePage] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdateOnUtc] [datetime] NULL,
 CONSTRAINT [PK_Category_2119110295] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_2119110295]    Script Date: 4/26/2022 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_2119110295](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[UserId] [int] NULL,
	[Status] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
 CONSTRAINT [PK_Order_2119110295] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail_2119110295]    Script Date: 4/26/2022 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail_2119110295](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetail_2119110295] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_2119110295]    Script Date: 4/26/2022 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_2119110295](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Avatar] [nchar](100) NULL,
	[CategoryId] [int] NULL,
	[ShortDescription] [nvarchar](250) NULL,
	[FullDescription] [nvarchar](500) NULL,
	[Price] [float] NULL,
	[PriceDiscount] [float] NULL,
	[Discount] [int] NULL,
	[TypeId] [int] NULL,
	[Slug] [varchar](50) NULL,
	[BrandId] [int] NULL,
	[Deleted] [bit] NULL,
	[ShowOnHomePage] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[ArticleNumber] [int] NULL,
	[Guarantee] [nvarchar](50) NULL,
	[DeliveryTime] [nvarchar](50) NULL,
	[Availabilty] [nvarchar](50) NULL,
	[Trademark] [nvarchar](50) NULL,
	[ProductNumber] [nvarchar](100) NULL,
	[Origin] [nvarchar](50) NULL,
	[Machine] [nvarchar](100) NULL,
	[DialThickness] [nvarchar](100) NULL,
	[Dial_Diameter] [nvarchar](100) NULL,
	[Glasses] [nvarchar](100) NULL,
	[Strap] [nvarchar](100) NULL,
	[WaterProof] [int] NULL,
	[Especially] [nvarchar](100) NULL,
	[Avatar1] [nchar](100) NULL,
	[Avatar2] [nchar](100) NULL,
	[Avatar3] [nchar](100) NULL,
	[Avatar4] [nchar](100) NULL,
 CONSTRAINT [PK_Product_2119110295] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_2119110295]    Script Date: 4/26/2022 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_2119110295](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_Users_2119110295] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand_2119110295] ON 

INSERT [dbo].[Brand_2119110295] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedOnUtc], [UpdatedOnUtc], [Deleted]) VALUES (1, N'Casio', N'CASIO.png', N'casio', 1, 1, NULL, NULL, 0)
INSERT [dbo].[Brand_2119110295] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedOnUtc], [UpdatedOnUtc], [Deleted]) VALUES (2, N'Citizen', N'CITIZEN.png', N'citizen', 1, 2, NULL, NULL, 0)
INSERT [dbo].[Brand_2119110295] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [CreatedOnUtc], [UpdatedOnUtc], [Deleted]) VALUES (3, N'Seiko', N'SEIKO.png', N'seiko', 1, 3, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Brand_2119110295] OFF
GO
SET IDENTITY_INSERT [dbo].[Category_2119110295] ON 

INSERT [dbo].[Category_2119110295] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [Deleted], [CreatedOnUtc], [UpdateOnUtc]) VALUES (1, N'Nam', N'ORIENT NAM.png                                                                                      ', N'nam', 1, 1, 0, NULL, NULL)
INSERT [dbo].[Category_2119110295] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [Deleted], [CreatedOnUtc], [UpdateOnUtc]) VALUES (2, N'Nữ', N'TISSOT NU.png                                                                                       ', N'nu', 1, 2, 0, NULL, NULL)
INSERT [dbo].[Category_2119110295] ([Id], [Name], [Avatar], [Slug], [ShowOnHomePage], [DisplayOrder], [Deleted], [CreatedOnUtc], [UpdateOnUtc]) VALUES (3, N'Cặp Đôi', N'CASIO DOI.png                                                                                       ', N'cap-doi', 1, 3, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Category_2119110295] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_2119110295] ON 

INSERT [dbo].[Order_2119110295] ([Id], [Name], [UserId], [Status], [CreatedOnUtc]) VALUES (1, N'DonHang-20220414130950', 1, 1, CAST(N'2022-04-14T13:09:50.467' AS DateTime))
INSERT [dbo].[Order_2119110295] ([Id], [Name], [UserId], [Status], [CreatedOnUtc]) VALUES (2, N'DonHang-20220414131446', 6, 1, CAST(N'2022-04-14T13:14:46.107' AS DateTime))
INSERT [dbo].[Order_2119110295] ([Id], [Name], [UserId], [Status], [CreatedOnUtc]) VALUES (3, N'DonHang-20220414131744', 1, 1, CAST(N'2022-04-14T13:17:44.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order_2119110295] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail_2119110295] ON 

INSERT [dbo].[OrderDetail_2119110295] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[OrderDetail_2119110295] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (2, 1, 2, 1)
INSERT [dbo].[OrderDetail_2119110295] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (3, 2, 33, 1)
SET IDENTITY_INSERT [dbo].[OrderDetail_2119110295] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_2119110295] ON 

SET IDENTITY_INSERT [dbo].[Product_2119110295] OFF
GO
SET IDENTITY_INSERT [dbo].[Users_2119110295] ON 

INSERT [dbo].[Users_2119110295] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin]) VALUES (11, N'Thanh Tuan', N'Tran', N'thanhtuan99@gmail.com', N'14e1b600b1fd579f47433b88e8d85291', NULL)
INSERT [dbo].[Users_2119110295] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin]) VALUES (12, N'Quoc Bao', N'Dang', N'quocbao99@gmail.com', N'c33367701511b4f6020ec61ded352059', NULL)
INSERT [dbo].[Users_2119110295] ([Id], [FirstName], [LastName], [Email], [Password], [IsAdmin]) VALUES (13, N'Duc Thang', N'Nguyen', N'ducthang97@gmail.com', N'e35cf7b66449df565f93c607d5a81d09', NULL)
SET IDENTITY_INSERT [dbo].[Users_2119110295] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Giảm giá sốc, 2: Casio, 3: Citizen, 4: Đề xuất, 5: Khác' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product_2119110295', @level2type=N'COLUMN',@level2name=N'TypeId'
GO
USE [master]
GO
